# Database
MONGODB_URI=mongodb://localhost:27017/kanban-board

# Backend
PORT=3000
NODE_ENV=development

# n8n
N8N_WEBHOOK_URL=http://localhost:5678/webhook/kanban-export

# CORS
FRONTEND_URL=http://localhost:5173
OPENAI_API_KEY=sk-tu-key-real-aqui