# Database
MONGODB_URI=mongodb://localhost:27017/kanban-board
MONGODB_USER=""
MONGODB_PASSWORD=""

# Backend
PORT=3000
NODE_ENV=development
JWT_SECRET=""
OPENAI_API_KEY=""
GEMINI_API_KEY=""

# n8n
N8N_WEBHOOK_URL=http://localhost:5678/webhook/kanban-export
# OLLAMA_API_URL=""

# CORS
FRONTEND_URL=http://localhost:5173
VITE_WALLETCONNECT_PROJECT_ID=""